* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  color: #e6e6e6;
  opacity: 0;
}

html body #app {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

html body #app #current-weather {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 25px;
}

html body #app #current-weather #city-name {
  width: auto;
  height: auto;
  background-color: transparent;
}

html body #app #current-weather #city-name p {
  font-size: 50px;
}

html body #app #current-weather #temperature-and-weather-description {
  width: auto;
  height: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

html body #app #current-weather #temperature-and-weather-description #temperature {
  width: auto;
  height: auto;
  background-color: transparent;
}

html body #app #current-weather #temperature-and-weather-description #temperature p {
  font-size: 50px;
}

html body #app #current-weather #temperature-and-weather-description #weather-description {
  width: auto;
  height: auto;
  background-color: transparent;
}

html body #app #current-weather #temperature-and-weather-description #weather-description p {
  font-size: 24px;
}

@media screen and (min-width: 1024px) {
  html body #app ::-webkit-scrollbar {
    height: 12px;
  }
  html body #app ::-webkit-scrollbar-track {
    background: transparent;
  }
  html body #app ::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 100px;
  }
  html body #app ::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
  }
}

html body #app #hourly-weather {
  width: auto;
  width: 90%;
  min-height: 125px;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 25px;
}

html body #app #hourly-weather .hourly-weather-item {
  width: auto;
  height: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

html body #app #hourly-weather .hourly-weather-item:first-child {
  margin-left: 0px;
}

html body #app #hourly-weather .hourly-weather-item:last-child {
  margin-right: 0px;
}

html body #app #hourly-weather .hourly-weather-item p,
html body #app #hourly-weather .hourly-weather-item i {
  padding: 4px;
}

html body #app #hourly-weather .hourly-weather-item p {
  font-size: 30px;
}

html body #app #hourly-weather .hourly-weather-item p:nth-child(3) {
  font-size: 22px;
  margin-top: 4px;
}

html body #app #hourly-weather .hourly-weather-item i {
  font-size: 24px;
}

html body #app #daily-weather {
  width: 90%;
  height: auto;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

html body #app #daily-weather .daily-weather-item {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

html body #app #daily-weather .daily-weather-item p {
  font-size: 24px;
}

html body #app #daily-weather .daily-weather-item .deg-and-icon {
  width: auto;
  height: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #app #daily-weather .daily-weather-item .deg-and-icon p,
html body #app #daily-weather .daily-weather-item .deg-and-icon i {
  margin-left: 10px;
  margin-right: 10px;
}

html body #app #daily-weather .daily-weather-item .deg-and-icon i {
  font-size: 24px;
}
/*# sourceMappingURL=styles.css.map */